:root {
--standard-gap: 10px;
}

/* PAGE TITLE */

h1 {font-size: 30px; text-align: center;}

img {max-width: 100%;}

/* FORM */

#search form {
  display: grid;
  grid-template-columns: 10% 20% 35% 15% 10%;
  grid-gap: var(--standard-gap);
}

form label {grid-column: 2;}

form input {grid-column: 3;}

form button {grid-column: 4;}

/* GIFY */
